{% extends 'base.html' %}
{% load static %}
{% comment %}
Everhash index page
{% endcomment %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block body %}
	<div id="beebetaIntro" class="row">
		<div class="col-sm-12">
			<h1>Everhash</h1>
			<h1>Twitter hashtag images collected. </h1>
			
			<div class="row destacados">
				{% for key,value in thumb_nail.items %}
					<div class="col-sm-3" style="padding-bottom:20px;">
						<!--Sets the div box as a clickable link -->
						<a href="{% url 'view_album' key %}"><span class="span-link"></span></a>
						<img src="{% if value != None %}
									{{ value }}
									{% else %}
										https://pbs.twimg.com/media/BrTUUwWCQAAzNjV.png
									{% endif %}" 
									alt="{{ key }}" style="height:200px;" class="img-circle img-thumbnail">
						<h2>#{{ key }}</h2>
					</div>
					{% if forloop.counter|divisibleby:4 %}
						<div class="clearfix"></div>
					{% endif %}
				{% endfor %}
			</div><!--row destacados -->
		</div><!--col-sm-12-->
	</div><!--row-->
{% endblock %}