{% extends "base.html" %}

{% load static %}
{% comment %}
Account
{% endcomment %}

{% block title %}
Profile
{% endblock %}

{% block extra_css %}
<style></style>
{% endblock extra_css %}

{% block body %}
<div class="container top-margin">
  <div class="row well">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked-well">
        <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user user-icon"></span> Profile</a></li>
        <li><a href="{% url 'settings' %}"><span class="glyphicon glyphicon-cog cog-icon"></span> Settings</a></li>
      </ul>
    </div>
    <div class="col-md-10">
      <div>        
        {% if user.first_name %}
          <div class="name">Welcome back <strong>{{ user.first_name }}</strong></div>
        {% else %}
          <div class="name">Welcome back <strong>{{ user.username }}</strong></div>
        {% endif %}
      </div><!--panel-->
      <br>
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
        <li><a href="#questions" data-toggle="tab">My Albums</a></li>
      </ul><!--nav nav-tabs-->

      <div class="tab-content">
        <div class="tab-pane active" id="profile">
          <br>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">User information</h3>              
            </div><!--panel-heading-->
            <div class="panel-body">
              <div class="row">              
                <div class=" col-md-9 col-lg-9">
                  <h3>{{ user.username }}</h3><br>
                  <table class="table table-user-information">
                      <tbody>
                      <tr>
                          <td><strong>Username:</strong></td>
                          <td>{{ user.username }}</td>
                      </tr>
                      <tr>
                          <td><strong>Email:</strong></td>
                          <td>{{ user.email }}</td>
                      </tr>
                      <tr>
                          <td><strong>Registered since:</strong></td>
                          <td>{{ user.date_joined }}</td>
                      </tr>
                      <tr>
                          <td><strong>First name:</strong></td>
                          <td>{{ user.first_name }}</td>
                      </tr>
                      <tr>
                        <td><strong>Last name:</strong></td>
                        <td>{{ user.last_name }}</td>
                      </tr>
                      <tr>
                        <td><strong>Last login:</strong></td>
                        <td>{{ user.last_login }}</td>
                      </tr>
                      </tbody>
                  </table>
                </div><!--col-md-9 col-lg-9-->
              </div><!--row-->
            </div>
            <div class="panel-footer">
              <button class="btn btn-sm btn-warning" type="button">
                <a href="{% url 'settings' %}"><span class="glyphicon glyphicon-edit"></span></a>
              </button>                        
            </div><!--panel-footer-->
          </div><!--panel panel-primary-->
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Albums</h3>          
                </div><!--panel-heading-->
                <div class="panel-body">
                  <h1 class="stats">{{ stats.album_count }}</h1>
                  <span class="stats-info">albums</span>
                </div><!--panel-body-->
              </div><!--panel panel-primary-->
            </div><!--col-md-6-->

            <div class="col-md-6 col-lg-6">
              <div class="panel panel-primary">
                <div class="panel-heading">                  
                  <h3 class="panel-title">Pictures</h3>                  
                </div><!--panel-heading-->
                <div class="panel-body">
                  <h1 class="stats">{{ stats.picture_count }}</h1>
                  <span class="stats-info">Pictures</span>
                </div>
              </div><!--panel panel-primary-->
            </div>
          </div><!--row-->
        </div><!--profile-->

        <div class="tab-pane" id="questions">
          <div class="row">
            <br>
            <br>
            {% for key,value in thumb_nail.items %}
              <div class="col-sm-3 text-center" style="padding-bottom:20px;">
                <!--Sets the div box as a clickable link -->
                <a href="{% url 'view_album' key %}"><span class="span-link"></span></a>
                <img src="{% if value != None %}
                      {{ value }}
                      {% else %}
                        https://pbs.twimg.com/media/BrTUUwWCQAAzNjV.png
                      {% endif %}" 
                      alt="{{ key }}" style="height:200px;" class="img-circle img-thumbnail">
                <h2 style="text-align:center;">#{{ key }}</h2>
              </div>
            {% endfor %}        
        </div><!--row-->
        </div><!--questions-->
      </div><!--tab-content-->
    </div><!--col-md-10-->
  </div><!--row well-->
</script>
{% endblock body %}